.relative{ position: relative;  }
.specific .card-block{
  padding: 1.25rem 1.25rem 0rem 1.25rem;
  position: relative;
  height: 100% !important;

}
.specific .ctrl{
  width: 100%;
  border-top: 1px solid #EAEAEA;
  padding: 0.7rem 0rem;
}
.specific button{

}

.my-flex-column{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.my-flex-row{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fix-height{
  float: none;
  display: table-cell;
  vertical-align: top;
}
.is-table-row {
    display: table;
}
.is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.h-full{ height: 100%;}

.f-wrap{
  flex-wrap: wrap;
}
.flex-grow-0{ flex-grow: 0;}
.flex-grow-1{ flex-grow: 1;}
.flex-grow-2{ flex-grow: 2;}
.flex-grow-3{ flex-grow: 3;}
.flex-grow-4{ flex-grow: 4;}

.f-basis-1{ flex-basis: 1rem; }
.f-basis-2{ flex-basis: 2rem; }
.f-basis-3{ flex-basis: 3rem; }
.f-basis-4{ flex-basis: 4rem; }

.ul-strip{
  list-style: none;
  padding: 0px;
}

.bd-1{
  border: 1px solid #EAEAEA !important;
}
.bd-b-1{ border-bottom: 1px solid #EAEAEA !important;}

.xm-b-1{ margin-bottom: -1rem; }
/* reset margin bottom */
.reset-b{
  margin-bottom: 0px;
  padding-bottom: 0px;
}


i.awe-checkers-black{
  background-color: #000;
  font-size: 2.5rem;
  padding: 1rem 0rem;
  text-align: center;
  line-height: 2.5rem;
  height: 4.5rem;
  width: 4.5rem;
  margin-bottom: 1rem;

  border-radius: 5rem;
  color: #FFF;
}
.unity-checkers{
  border: 1px solid #EAEAEA !important;
  padding: 17px !important;
}
.unity-checkers:hover{
  border: 2px solid #000!important;
  padding: 16px !important;
  cursor: pointer !important;
}
.remove-padding{
  padding: 0px !important;
}

.color-1{
  background-color: #E0E0E0;
}



/* Image Tiles */
.top-image-tiles{
  max-width: 100%;
  max-height: 500px;
  overflow: hidden;
}
.bottom-image-tiles .image-wrap{
  max-width: 100%;
  max-height: 250px;
  overflow: hidden;
}
.image-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 0.1rem solid #FFF;
}
/* Right */
.right-image-tiles{
  display: flex;
  flex-direction: column;
  max-height: 100%;
  align-content: stretch;
}
.right-image-tiles .image-wrap {
  height: 100%; min-width: 100%; overflow: hidden;
}
.right-image-tiles .image-wrap img{
  min-height: 100%;
  max-width: 150%;
}
/* Left */
.left-image-tiles{
  display: flex;
  flex-direction: column;
  max-height: 100%;
  align-content: stretch;
  overflow: hidden;
}
.left-image-tiles .image-wrap{
  min-height: 100%; max-width: 100%; overflow: hidden;
}
.left-image-tiles .image-wrap img{
  min-height: 100%;
}
/* Bottom */
.bottom-image-tiles .image-wrap img{
  min-height: 100%;
  max-width: 100%;
}
