<div class="row">
  <div class="col-md-3 hidden-md-down">
    <h5>{{word(2,401)}}</h5>
    <p>{{word(10,301)}}</p>
  </div>

  <div class="col-lg-6 col-md-8" >
    <div class="specific card h-100">
        <div class="my-flex-row h-100 pt-4 pr-3 pl-3 text-align-start">
          <div class="pr-4"><i class="fa fa-github awe-checkers-black"></i></div>
          <div class="my-flex-column">
            <div>
              <h5>{{word(2,seed)}}</h5>
              <p>{{word(12,301)}}</p>
            </div>
            <div class="ctrl">
              <button class="btn btn-primary pull-right m-0">{{word(2,111+199)}}</button>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="col-lg-3 col-md-4" >
  <div class="specific card h-100">
    <div class="my-flex-column h-100 pt-4 pr-3 pl-3">
      <div class="my-flex-row">
        <div class="pr-4"><i class="fa fa-github awe-checkers-black"></i></div>
        <div class="w-100">
          <h5>{{word(2,seed)}}</h5>
          <p>{{word(4,301)}}</p>
        </div>
      </div>

        <div class="ctrl">
            <button class="btn btn-primary pull-right m-0">{{word(2,111+199)}}</button>
        </div>

  </div>
</div>
</div>

</div>
